__pycache__/
.pytest_cache/
.venv/
.env
*.egg-info/
node_modules/
dist/
frontend/node_modules/
frontend/dist/
*.sqlite
sample_data/bot-eod-report-2025-12-24.csv
sample_data/chain-oi-changes-2025-12-24.csv
sample_data/dp-eod-report-2025-12-24.csv
sample_data/hot-chains-2025-12-24.csv
sample_data/stock-screener-2025-12-24.csv
sample_data/bot-eod-report-2025-12-01.csv
sample_data/bot-eod-report-2025-12-02.csv
sample_data/bot-eod-report-2025-12-03.csv
sample_data/bot-eod-report-2025-12-04.csv
sample_data/bot-eod-report-2025-12-05.csv
sample_data/bot-eod-report-2025-12-08.csv
sample_data/bot-eod-report-2025-12-09.csv
sample_data/bot-eod-report-2025-12-10.csv
sample_data/bot-eod-report-2025-12-11.csv
sample_data/bot-eod-report-2025-12-12.csv
sample_data/bot-eod-report-2025-12-15.csv
sample_data/bot-eod-report-2025-12-17.csv
sample_data/bot-eod-report-2025-12-19.csv
sample_data/bot-eod-report-2025-12-22.csv
sample_data/bot-eod-report-2025-12-23.csv
sample_data/bot-eod-report-2025-12-26.csv
sample_data/bot-eod-report-2025-12-29.csv
sample_data/bot-eod-report-2025-12-30.csv
sample_data/bot-eod-report-2025-12-31.csv
sample_data/bot-eod-report-2026-01-02.csv
